* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
}
html{
  background-color: #E0E5EB;
}
#pricing-section{
  background-color: #E0E5EB;
  z-index: -2;
  padding: 20vh 0 15vh 0;
  text-align: center;
  display: grid;
  justify-items: center;
}
.pricing-table{
  font-family: 'sofia-pro', sans-serif;
  margin: 50px 0 0 0;
  width: 70%;
  border: 1px transparent;
  border-radius: 50px;
  box-shadow:  41px 41px 82px #bec3c8, 
              -41px -41px 82px #ffffff!important;
}
.heading-row{
  font-weight: 400;
  font-size: 29px;
}
.heading-row .column{
  color: #305289;
}
.table-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: 22px;
  width: 100%;
  place-content: center;
}
.column{
  display: grid;
  place-content: center;
  padding: 20px;
}
.property{
  font-size: 21.6px;
  font-weight: 300;
  text-align: center;
  padding:  20px 8px;
  width: 1fr;
  overflow-x: hidden;
}
.pricing-currency{
  font-size: 20px;
  color: #305289;
  font-weight: bold;
  display: inline-block;
}
.pricing-number{
  font-size: 30px;
  color: #305289;
  font-weight: bold;
  display: inline-block;
}
.column:nth-child(2n){
  background-color: rgba(158, 175, 252, 0.116);
}
.plus{
  text-align: center;
  margin: 20vh 0px 0px 0px;
}
.plus > img{
  width: 80px;
}
.extras-section{
  font-family: 'sofia-pro', sans-serif;
  background-color: #E0E5EB;
  z-index: -2;
  padding: 0 0 15vh 0;
  text-align: center;
  display: grid;
  justify-items: center;
}
#extras-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em 3em;
  margin: 0 5%;
}
.extra-element {
  border-radius: 50px;
  height: 300px;
  text-align: justify;
  background: #E0E5EB;
  box-shadow:  24px 24px 48px #bec3c8, 
             -24px -24px 48px #ffffff!important;
  overflow: hidden;
  padding: 20px;
}
.extra-img{
  height: 50px;
  width:50px;
}
.extra-title{
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  margin: 10px 0px 5px 0px;
}
.extra-title > img{
  vertical-align: middle;
  margin: 0px 15px 0px 0px;
}
.extra-price{
  color: #305289;
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0px 20px 0px;
  text-align: center;
}
.extra-text{
  font-size: 18px;
  font-weight: 300;
  margin: 10px 0px 0px 0px;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-table {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-table:hover, .hvr-grow-table:focus, .hvr-grow-table:active{
  -webkit-transform: scale(1.01) !important;
  transform: scale(1.01) !important;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* RESPONSIVE DESIGN */
/*Smartphones*/
@media only screen and (max-width: 600px) {

}
/*Large Smartphones and Tablets*/
@media only screen and (min-width: 600px) {

}
/*Landscape Tablets*/
@media only screen and (min-width: 768px) {

}
/*Laptops*/
@media only screen and (min-width: 992px) {

}
/*Larger Desktops*/
@media only screen and (min-width: 1200px) {

}
/*Very large Desktops*/
@media only screen and (min-width: 1600px) {

}