* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
}
#hero-angebot{
  height: 100vh;
  margin: 0;
  display: grid;
}
.pricing-table{
  font-family: sofia-pro, sans-serif;
  width: 100%;
  height: 100vh;
}
.heading-row{
  background: #f4f4f4;
  font-weight: 400;
  font-size: 18px;
}
.table-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: left;
  width: 100%;
  place-content: center;
}
.column{
  display: grid;
  place-content: center;
  padding: 20px;
}
.property{
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  padding:  20px 8px;
  width: 1fr;
  overflow-x: hidden;
}
.tick{
  display:grid;
  place-content: center center;
}
.column:nth-child(2n){
  background: rgba(226, 226, 226, 0.164)
}

/* RESPONSIVE DESIGN */
/*Smartphones*/
@media only screen and (max-width: 600px) {

}
/*Large Smartphones and Tablets*/
@media only screen and (min-width: 600px) {

}
/*Landscape Tablets*/
@media only screen and (min-width: 768px) {

}
/*Laptops*/
@media only screen and (min-width: 992px) {

}
/*Larger Desktops*/
@media only screen and (min-width: 1200px) {

}
/*Very large Desktops*/
@media only screen and (min-width: 1600px) {

}