html {
  cursor: none;
}
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(29, 29, 29);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 999;
  transition: transform 0.2s;
}
.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(8);
}
.hover-this {
  transition: all 0.3s ease;
}