.footer {
  background-color: #4b79c5;
  padding-top: 100px;
  padding-bottom: 20px;
  color: rgb(255,255,255);
  font-family: 'sofia-pro', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  position: relative;
}
#Logo {
  padding-bottom: 43px;
  text-align: center;
  background: #E0E5EB;
}
.footer-latify{
  margin: 0px 40px 0px 0px;
  font-size: 28px;
  font-weight: 600;
}
.footer-latify > img{
  vertical-align:middle;
  padding-bottom: 6px;
}
.adress-street{
  margin: 0px 0px 0px 48px;
}
.adress-postcode{
  margin: 0px 0px 0px 32px;
}
.footer-email{
  margin: 30px 0px 30px 15px;
}
.footer-email > img{
  vertical-align:middle;
  padding-bottom: 6px;
}
.footer-phone > img{
  vertical-align:middle;
  padding-bottom: 3px;
}
#copyright{
  font-size: 13px;
  margin-top: 41px;
  margin-bottom: 0px;
}
#copyright > img{
  vertical-align:middle;
  padding: 0px 3px 2.7px 0px;
}
.legal-link:hover {
  color: #c9c9c9;
  text-decoration: none;
}
.legal-link{
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
.footer>div>p>a{
  text-decoration: none;
  color: white;
}
.footer>div>p>a:hover{
  text-decoration: none;
  color: white;
}
