.footer {
  background: #E0E5EB;
  color: rgb(0, 0, 0);
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
  width: 90%;
  height: 50vh;
  padding: 100px; 
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 100px;
  box-shadow:  13px 13px 27px #bec3c8, 
             -13px -13px 27px #ffffff;
  min-height: 500px;
}

.footer-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 80%;
}

.footer-container > div{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-container div .title{
  margin-bottom: 20px;
}

.footer-container div .text{
  font-weight: 500;
  line-height: 2.5;
}

.footer-container div h3{
  font-size: 1.75rem;
}

.footer-container div .text-slogan{
  font-size: 2rem;
  font-weight: 400;
  
  padding-right: 40px;
}

.copyright-container{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.copyright{
  font-weight: bold;
}

.footer a{
  text-decoration: underline;
  color: #000000;
  font-weight: 500;
}

.legal-link{
  padding-left: 30px;
}

/* RESPONSIVE DESIGN */
/*Full HD Desktops*/
@media only screen and (max-width: 1919px) {

}
/*Larger Desktops*/
@media only screen and (max-width: 1600px) {
  .footer-container>div>div>p{
    font-size: 1.2rem;
  }
  .footer-container>div>div>p>a{
    font-size: 1.2rem;
  }
  .copyright{
    font-size: 1.2rem;
  }
  .policy{
    font-size: 1.6rem;
  }
}
/*Desktops*/
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1024px) and (min-height:1200px){
  .footer-container>div>div>p{
    font-size: 1.5rem;
  }
  .footer-container>div>div>p>a{
    font-size: 1.5rem;
  }
  .copyright{
    font-size: 1.5rem;
  }
  .policy{
    font-size: 1.5rem;
  }
}
/*Laptops*/
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px) and (min-height:1000px){
  .footer-container>div>div>p{
    font-size: 1.5rem;
  }
  .footer-container>div>div>p>a{
    font-size: 1.5rem;
  }
  .copyright{
    font-size: 1.5rem;
  }
  .policy{
    font-size: 2.5rem;
  }
}
/*Landscape Tablets*/
@media only screen and (max-width: 768px) {

}
/*Large Smartphones*/
@media only screen and (max-width: 600px) {

}
/*Smartphones*/
@media only screen and (max-width: 450px) {
  .footer-container>div>div>p{
    font-size: 1.5rem;
  }
  .footer-container>div>div>p>a{
    font-size: 1.5rem;
  }
  .copyright{
    font-size: 1.5rem;
    text-align: center;
  }
  .copyright-container{
    flex-direction: column;
    justify-items: center;
  }
  .policy{
    font-size: 2.7rem;
    align-items: center;
    justify-items: space-between;
    text-align: center;
  }
  .policy a{
    padding: 20px;
  }
  .footer-container{
    flex-direction: column; 
    padding: 20px;
  }
  .footer-container > div > img{
    margin: auto;
  }
  .footer-container > div{
    margin: 0px 0px 20px 0px;
  }
  .footer-container > div > div {
    text-align: center;
  }
  .footer{
    padding: 20px;
    border-radius: 50px;
    height: auto;
  }

  .footer-container div a{
    font-size: 3rem;
  }
  .footer-container div .text-slogan{
    padding-right: 10px;
  }
  .footer img{
    width: 30px;
  }
  .copyright img{
    width: 10px;
  }
  .copyright-container{
    align-content: center;
    padding: 20px;
  }
}
/*Smaller Smartphones*/
@media only screen and (max-width: 380px) {

}