@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
.main {
  --color-of-text: #000000;
}
.main a:nth-child(1) {
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 50%);
  clip-path: polygon(0 0, 100% 0, 50% 50%);
}
.main a:nth-child(2) {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 50%);
  clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}
.main a:nth-child(3) {
  -webkit-clip-path: polygon(0 100%, 50% 50%, 100% 100%);
  clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}
.main a:nth-child(4) {
  -webkit-clip-path: polygon(0 0, 50% 50%, 0 100%);
  clip-path: polygon(0 0, 50% 50%, 0 100%);
}
.main a:hover {
  -webkit-clip-path: none;
  clip-path: none;
  z-index: 2;
}
.main a:nth-child(1):hover ~ .text:before {
  --from: circle(0% at 50% 0%);
  --to: circle(150% at 0% 50%);
  -webkit-animation: textani 1s forwards;
  animation: textani 1s forwards;
}
.main a:nth-child(2):hover ~ .text:before {
  --from: circle(0% at 150% 50%);
  --to: circle(100% at 50% 50%);
  -webkit-animation: textani 1s forwards;
  animation: textani 1s forwards;
}
.main a:nth-child(3):hover ~ .text:before {
  --from: circle(0% at 50% 100%);
  --to: circle(150% at 0% 50%);
  -webkit-animation: textani 1s forwards;
  animation: textani 1s forwards;
}
.main a:nth-child(4):hover ~ .text:before {
  --from: circle(0% at 0% 50%);
  --to: circle(150% at 0% 50%);
  -webkit-animation: textani 1s forwards;
  animation: textani 1s forwards;
}
.text {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-of-text);
  font-size: 350pt;
  font-family: 'Staatliches', cursive;
}
.text:before {
  content: attr(data-text);
  position: absolute;
}
@keyframes textani {
  0% {
    -webkit-clip-path: var(--from);
    clip-path: var(--from);
  }
  100% {
    -webkit-clip-path: var(--to);
    clip-path: var(--to);
    color: var(--color-of-text);
  }
}
.process-title {
  display: block;
  /*color: rgb(0,0,0);*/
  font-size: 7em;
  font-family: Inter, cursive;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.process-text {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5em;
  font-size: 1.3em;
  padding: 0;
  margin: 0 10.2% 0 0;
}
.process-block {
  margin: 30vh auto;
  overflow: hidden;
  width: 70%;
}
a.hover-link {
  position: absolute;
  display: block;
  width: 61%;
  height: 83px;
  z-index: 1;
  margin: 27px 0px 0px 5px;
}
#kennen {
  width: 891px;
}
#design {
  width: 415px;
}
#dev {
  width: 850px;
}