@import url('https://rsms.me/inter/inter.css');
*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  font-weight: 300;
}
img{
  vertical-align: middle;
}
nav{
  display: none !important;
}
.legal-container{
  background: #131313;
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-items: center;
}
.legal-logo img{
  position: absolute;
  top: 6vh;
  left: 5%;
  width: 70px;
  height: 70px;
  transform: translateY(-50%);
}
.legal-title{
  font-family: 'proxima-nova', sans-serif;
  font-size: 4.375rem;
  padding: 15vh 0 8vh 0;
}
.main-imprint{
  text-align: center;
}
.main-imprint img{
  margin-right: 20px;
}
.legal-latify{
  font-size: 1.875rem;
  font-weight: 800;
  margin-bottom: 2vh;
  display: flex;
  justify-content: left;
}
.legal-latify img{
  margin-right: 12px;
}
.legal-latify
.legal-link:hover {
  color: #c9c9c9;
  text-decoration: none;
}
.legal-link{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.188rem;
  display: inline-block;
}
.footer-email{
  display: flex;
  justify-content: left;
  margin-bottom: 2vh;
}
.footer-phone{
  display: flex;
  justify-content: left;
  margin-bottom: 2vh;
}
.legal-home-link:hover {
  color: #c9c9c9;
  text-decoration: none;
}
.legal-home-link{
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 5vh;
  right: 5%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.legal-address-container{
  padding: 40px;
}
.zurich{
  font-size: 2.188rem;
  font-weight: 800;
  padding: 4vh 0 3vh 0;
  text-align: center;
}
.nav-address1{
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}
/* Privacy Policy */
.legal-text{
  font-size: 0.938rem;
  text-align: justify;
  width: 80vw;
  margin-top: -5vh;
}

/* RESPONSIVE DESIGN */
/*Full HD Desktops*/
@media only screen and (max-width: 1919px) {

}
/*Larger Desktops*/
@media only screen and (max-width: 1600px) {

}
/*Desktops*/
@media only screen and (max-width: 1200px) {
*{
    font-size: 90%;
  }
 
  .legal-logo img{
    position: absolute;
    top: 5vh;
    left: 7%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
  }
  .legal-title{
    font-family: 'proxima-nova', sans-serif;
    font-size: 3.375rem;
  }
  .legal-latify{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 2vh;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .legal-latify img{
    margin-right: 12px;
    position: relative;
  }
  .legal-link:hover {
    color: #c9c9c9;
    text-decoration: none;
  }
  .legal-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    align-self: center;
  }
  .legal-home-link{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 5vh;
    right: 7%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }
  .legal-address-container{
    padding: 40px;
  }
  .nav-address1{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
  }

}
}
/*Laptops*/
@media only screen and (max-width: 992px) {
*{
    font-size: 80%;
  }
 
  .legal-logo img{
    position: absolute;
    top: 5vh;
    left: 7%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
  }
  .legal-title{
    font-family: 'proxima-nova', sans-serif;
    font-size: 3.375rem;
  }
  .legal-latify{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 2vh;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .legal-latify img{
    margin-right: 12px;
    position: relative;
  }
  .legal-link:hover {
    color: #c9c9c9;
    text-decoration: none;
  }
  .legal-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    align-self: center;
  }
  .legal-home-link{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 5vh;
    right: 7%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }
  .legal-address-container{
    padding: 40px;
  }
  .nav-address1{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
  }

}
/*Landscape Tablets*/
@media only screen and (max-width: 768px) {
*{
    font-size: 70%;
  }
 
  .legal-logo img{
    position: absolute;
    top: 5vh;
    left: 7%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
  }
  .legal-title{
    font-family: 'proxima-nova', sans-serif;
    font-size: 3.375rem;
  }
  .legal-latify{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 2vh;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .legal-latify img{
    margin-right: 12px;
    position: relative;
  }
  .legal-link:hover {
    color: #c9c9c9;
    text-decoration: none;
  }
  .legal-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    align-self: center;
  }
  .legal-home-link{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 5vh;
    right: 7%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }
  .legal-address-container{
    padding: 40px;
  }
  .nav-address1{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
  }


}
/*Large Smartphones*/
@media only screen and (max-width: 600px) {

 
*{
    font-size: 60%;
  }
 
  .legal-logo img{
    position: absolute;
    top: 6vh;
    left: 7%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
  }
  .legal-title{
    font-family: 'proxima-nova', sans-serif;
    font-size: 3.375rem;
  }
  .legal-latify{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 2vh;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .legal-latify img{
    margin-right: 12px;
    position: relative;
  }
  .legal-link:hover {
    color: #c9c9c9;
    text-decoration: none;
  }
  .legal-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    align-self: center;
  }
  .legal-home-link{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 5vh;
    right: 7%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }
  .legal-address-container{
    padding: 40px;
  }
  .nav-address1{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
  }

}
/*Smartphones*/
@media only screen and (max-width: 450px) {
*{
    font-size: 50%;
  }
 
  .legal-logo img{
    position: absolute;
    top: 6vh;
    left: 7%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
  }
  .legal-title{
    font-family: 'proxima-nova', sans-serif;
    font-size: 3.375rem;
  }
  .legal-latify{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 2vh;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .legal-latify img{
    margin-right: 12px;
    position: relative;
  }
  .legal-link:hover {
    color: #c9c9c9;
    text-decoration: none;
  }
  .legal-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    align-self: center;
  }
  .legal-home-link{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 5vh;
    right: 7%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }
  .legal-address-container{
    padding: 40px;
  }
  .nav-address1{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
  }
}
/*Smaller Smartphones*/
@media only screen and (max-width: 380px) {
*{
  font-size: 40%;
  }
 
  .legal-logo img{
    position: absolute;
    top: 6vh;
    left: 7%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
  }
  .legal-title{
    font-family: 'proxima-nova', sans-serif;
    font-size: 3.375rem;
  }
  .legal-latify{
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 2vh;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .legal-latify img{
    margin-right: 12px;
    position: relative;
  }
  .legal-link:hover {
    color: #c9c9c9;
    text-decoration: none;
  }
  .legal-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    align-self: center;
  }
  .legal-home-link{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 5vh;
    right: 7%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
  }
  .legal-address-container{
    padding: 40px;
  }
  .nav-address1{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
  }

}