.translation-title{
 font-family: 'sofia-pro', sans-serif;
 color: #305289;
 font-size: 50px;
}
.translation-text{
 font-family: 'sofia-pro', sans-serif; 
 font-weight: 300;
 font-size: 25px;
 margin: 30px 0px;
}
.translation-btn{
  font-family: 'sofia-pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  background-color: #E0E5EB;
  margin: 50px 0 15vh 0;
  padding: 15px;
  border-radius: 50px;
  background: #E0E5EB;
  box-shadow:  8px 8px 16px #b3b7bc, 
               -8px -8px 16px #ffffff;
  transition: box-shadow 6s ease-in-out;
}
.translation-btn:hover{
  transition: box-shadow 6s ease-in-out;
  box-shadow: inset 8px 8px 16px #b3b7bc, inset -8px -8px 16px #ffffff;
}
.translation-btn>a {
  display: block;
  color: #305289;
  text-decoration: none;
  line-height: 30px;
}
.translation-btn>a:hover {
  display: block;
  text-decoration: none;
}

/* Section headings */
.section-heading{
  font-family: 'Source-sans-pro', sans-serif;
  font-size: 100px;
}
.section-subheading{
  font-family: 'Source-sans-pro', sans-serif;
  font-size: 25px;
  margin: -15px 0 3vh 0;
}
.section-heading-spacer{
  height: 3px;
  width: 100px;
  margin: 0 0 6vh 0;
  background-color: #305289;
}
.section-heading-text{
  font-family: 'sofia-pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  width: 50%;
  margin: 0 0 6vh 0;
}
/*Hide scrollbar*/
::-webkit-scrollbar{
  width: 0;
}