.pages-translation{
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
  background-color: #E0E5EB;
}
.translation-title{
 font-family: 'benton-sans', sans-serif; 
 font-weight: 700;
 font-size: 70px;
}
.translation-text{
 font-family: 'sofia-pro', sans-serif; 
 font-weight: 300;
 font-size: 30px;
 margin: 50px 0px;
}
.translation-btn{
  font-family: 'sofia-pro', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color:#E0E5EB;
  background-color: #E0E5EB;
  border-radius: 20px 5px;
  border: 0.5px #305289 solid;
  margin-top: 30px;
  height: 50px;
  width: 20%;
}
.button-container-2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  border: 0.5px solid #305289;
  font-family: 'sofia-pro', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
}
.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: 'sofia-pro', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  background: #305289;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}
.mas {
  position: absolute;
  color: rgb(48, 82, 137);
  text-align: center;
  width: 101%;
  font-family: 'sofia-pro', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
.translation-btn>button>a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  width: 99%;
}
/* Section headings */
.section-heading{
  font-family: 'Source-sans-pro', sans-serif;
  font-size: 100px;
}
.section-subheading{
  font-family: 'Source-sans-pro', sans-serif;
  font-size: 25px;
  margin: -20px 0 3vh 0;
}
.section-heading-spacer{
  height: 3px;
  width: 100px;
  margin: 0 0 7vh 0;
  background-color: #305289;
  border-radius: 3px;
}
/*Hide scrollbar*/
::-webkit-scrollbar{
  width: 0;
}