@import url('https://rsms.me/inter/inter.css');
.process-section{
  background-color: #E0E5EB;
  z-index: -2;
  padding: 5vh 0 15vh 0;
  text-align: center;
  display: grid;
  justify-items: center;
}

.process-text {
  display: block;
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-weight: 300;
  line-height: 1.5em;
}

.process-container{
  display: flex;
  width: 85%;
  text-align: left;
  font-family: 'Inter';

}

.process-container .process-column{
  margin: 0px 70px 0px 70px;
  flex: 1;
}

.process-container .number{
  margin-bottom: 40px;
  color: rgb(121, 121, 121);
  font-size: 1.56rem;
}

.process-container h3{
  font-size: 2.81rem;
  margin-bottom: 40px;
}

.process-container .process-text{
  font-size: 1.56rem;
}