@font-face {
  src: url(fonts/MonumentExtended-Regular.otf);
  font-family: monument;
}
@import url('https://rsms.me/inter/inter.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #E0E5EB;
}
#hero {
  height: 100vh;
  width: 100%;
  background-color: #E0E5EB;
  display: flex;
  flex-direction: column;
}
.hero-scrolled {
  background-color: rgb(225, 225, 225);
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.hero-title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  position: relative;
  left: 10%;
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hero-title {
  width: 100%;
  text-align: left;
  overflow: hidden;
}
.hero-title>span{
  display: inline-block;
  overflow: hidden;
  padding-left: 7px;
  margin-right: 7px;
}
.hero-title>span>span{
   display: inline-block;
   font-size: 70px;
   color: rgb(66, 66, 66);
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
   will-change: transform;
   font-family: 'proxima-nova';
}
.hero-button {
  opacity: 0;
}
.hero-button button {
  font-size: 20px;
  text-decoration: none;
  border: 1px solid rgb(17, 17, 17);
  border-radius: 30px;
  background-color: rgb(17, 17, 17);
  padding: 15px;
  color: #EEEEEE;
  font-family: Circular;
}
.hero-button button:hover {
  text-decoration: none;
  border: 1px solid rgb(59, 58, 58);
  border-radius: 30px;
  background-color: rgb(233, 233, 233);
  padding: 15px;
  color: black;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
/* Loading Screen */
.welcome {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #E0E5EB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  letter-spacing: 2px;
  color: rgb(17, 17, 17);
  z-index: 10;
  overflow: hidden;
}
.intro {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 800;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #E0E5EB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  z-index: 9;
  overflow: hidden;
  font-size: 150px;
  opacity: 1;
  text-shadow: 0px 0px 6px #00000073;
}
.intro_container{
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

.intro_container>span{
  display: inline-block;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  margin: 10px;
  color: #E0E5EB;
}

.intro_img{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: block;
  width: 100%;
  height: auto;
}

.intro_img_container{
  position: absolute;
  display: flex;
  align-items: center;
  clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 100% 0%);
  transition: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.16, 1.08, 0.38, 0.98);
  width: 42%;
}

.intro_img_container2{
  position: absolute;
  display: flex;
  align-items: center;
  clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 100% 0%);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.16, 1.08, 0.38, 0.98);
  width: 42%;
}

.streched_intro_img{
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
}



.welcome_heading {
  font-size: 40px;
  font-family: monument;

}
.welcome_logo {
  height: 150px;
  width: 150px;
  border-radius: 40px;
  background: linear-gradient(-45deg, #caced4, #f0f5fb);
  transition: box-shadow 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform:scale(2);
}

.welcome_logo img{
  width: 100px;
}

.welcome>span{
  display: inline-block;
  overflow: hidden;
  position: absolute; 
  transform: translateX(40%);
}
.welcome>span>span{
   display: inline-block;
   font-size: 50px;
   color: rgb(32, 32, 32);
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
   will-change: transform;
   font-family: monument;
}
.pricing-preview{
  background-color: #E0E5EB;
  z-index: -2;
  padding: 5vh 0 15vh 0;
  text-align: center;
  display: grid;
  justify-items: center;
}
.pricing-preview-grid{
  display: flex;
  margin: 7vh 10% 0 10%;
}
.pricing-preview-element{
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  background: #E0E5EB;
  box-shadow:  24px 24px 48px #bec3c8, 
             -24px -24px 48px #ffffff!important;
  flex: 1; 
  margin: 0px 30px;
  display: flex!important;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}
.pricing-preview-title{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #305289;
  font-size: 35px;
  padding-top: 5px;
}
.pricing-preview-text{
  font-family: 'Inter', sans-serif;

  font-weight: 300;
  font-size: 20px;
  margin: 25px 15px;
}
.pricing-preview-price{
  font-family: 'Inter', sans-serif;
  padding-bottom: 10px;
  position: relative;
}
.preview-btn{
  margin-top: 120px !important;
  font-family: 'Inter', sans-serif;
}

/* RESPONSIVE DESIGN */
/*Smartphones*/
@media only screen and (max-width: 600px) {

}
/*Large Smartphones and Tablets*/
@media only screen and (min-width: 600px) {

}
/*Landscape Tablets*/
@media only screen and (min-width: 768px) {

}
/*Laptops*/
@media only screen and (min-width: 992px) {

}
/*Larger Desktops*/
@media only screen and (min-width: 1200px) {

}
/*Very large Desktops*/
@media only screen and (min-width: 1600px) {

}