@font-face {
  src: url(../fonts/monomenti.otf);
  font-family: monomenti;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: #e0e5eb;
}
/* Loading Screen */
.welcome {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e0e5eb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  letter-spacing: 2px;
  color: #305289;
  z-index: 10;
  overflow: hidden;
}
.intro {
  font-family: "proxima-nova", sans-serif;
  font-weight: 800;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e0e5eb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  z-index: 9;
  overflow: hidden;
  font-size: 9.375rem;
  opacity: 1;

}
.intro_container {
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

.intro_container > span {
  display: inline-block;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  margin: 10px;
  color: #e0e5eb;
}

.intro_container .word2{
  color: #131313;
}

.intro_img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: block;
  width: 400px;
  height: auto;
}

.intro_img_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 100% 0%);
  width: 100%;
  height: 100vh;
  background: #131313;
}

.intro_img_container2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 100% 0%);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.16, 1.08, 0.38, 0.98);
  width: 100%;
  height: 100vh;
  background: #e0e5eb;
}

.streched_intro_img {
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
  transition: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.16, 1.08, 0.38, 0.98);
}

.welcome_logo {
  height: 150px;
  width: 150px;
  border-radius: 40px;
  background: linear-gradient(-45deg, #caced4, #f0f5fb);
  transition: box-shadow 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: scale(2);
}

.welcome_logo img {
  width: 120px;
}

.welcome > span {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  transform: translateX(40%);
}
.welcome > span > span {
  display: inline-block;
  font-size: 3.125rem;
  color: #305289;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  will-change: transform;
  font-family: monomenti;
}
/* Index */
#hero {
  height: 100vh;
  width: 100%;
  background-color: #e0e5eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
.hero-title {
  text-align: left;
  overflow: hidden;
  padding-right: 40px;
}
.hero-title > span {
  display: inline-block;
  overflow: hidden;
  padding-left: 7px;
  margin-right: 7px;
}
.hero-title > span > span {
  display: inline-block;
  font-size: 4.375rem;
  color: #000000;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  will-change: transform;
  font-family: "Inter";
  font-weight: 800;
}
.hero-bg{
  opacity: 0;
  width: 40%;
  transform: translateY(10%);
}
.mouse{
  opacity: 0;
  width: 40px;
  height: 60px;
  position: absolute;
  left: calc(50% - 52px);
  bottom: 5%;
  background: #131313 linear-gradient(transparent 0%,
                                      transparent 50%,
                                      #131313 50%,
                                      #131313 100%);
  background-size: 100% 200%;
  border-radius: 100px;
  animation: colorSlide 8s linear infinite,
             nudgeMouse 8s ease-out infinite;
}
.mouse:before,
.mouse:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.mouse:before{
  width: 34px;
  height: 54px;
  background-color: #e0e5eb;
  border-radius: 100px;
}
.mouse:after{
  background-color: #131313;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  animation: trackBallSlide 8s linear infinite;
}
.mouse.scrolled{
  opacity: 0!important;
  transition: opacity 1s ease-in;
}

/* introduction */
#introduction{
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #E0E5EB;
}
.introduction-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 78%;
}
.introductory-text {
  font-family: "Inter", sans-serif;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.75rem;
  font-weight: 300;
  background-color: #e0e5eb;
  display:inline-block;
  color: #000000;
  flex: 2;
  margin-right: 100px;
}

.introduction-wrapper img{
  width: 500px;
  height: 500px;
  display:inline-block;

}
/* preview */
.pricing-preview {
  background-color: #e0e5eb;
  z-index: -2;
  padding: 5vh 0 15vh 0;
  text-align: center;
  display: grid;
  justify-items: center;
}
.pricing-preview-grid {
  display: flex;
  margin: 3vh 10% 0 10%;
}
.pricing-preview-element {
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  background: #e0e5eb;
  box-shadow: 24px 24px 48px #bec3c8, -24px -24px 48px #ffffff !important;
  flex: 1;
  margin: 0px 30px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}
.pricing-preview-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #305289;
  font-size: 2.19rem;
  padding-top: 5px;
}
.pricing-preview-text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 25px 15px;
}
.pricing-preview-price {
  font-family: "Inter", sans-serif;
  padding-bottom: 10px;
  position: relative;
}
.pricing-currency{
  font-size: 1.25rem;
  color: #305289;
  font-weight: bold;
  display: inline-block;
}
.pricing-number{
  font-size: 1.88rem;
  color: #305289;
  font-weight: bold;
  display: inline-block;
}
.preview-btn {
  margin-top: 120px !important;
  font-family: "Inter", sans-serif;
}
/* Vorteile */
#vorteile-section{
  background-color: #E0E5EB;
  padding: 5vh 0 15vh 0;
  text-align: center;
  display: grid;
  justify-items: center;
  font-family: 'Inter', sans-serif;
}
#grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5em 0em;
  padding: 0 12.5%;
}
.grid-element {
  border-radius: 50px;
  height: 200px;
  background: #E0E5EB;
  box-shadow: inset 11px 11px 21px #bec3c8, 
  inset -11px -11px 21px #ffffff!important;
  margin: 0 2.53em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-img{
  height: 60px;
  width: 60px;
}
.grid-title{
  font-size: 2.19rem;
  font-weight: 600;
  text-align: center;
}
.grid-title > img{
  vertical-align: middle;
  margin: 0px 5px 0px 0px;
}
.grid-text{
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Kontakt */
#contact-section{
  background-color: #E0E5EB;
  padding: 5vh 0 15vh 0;
  text-align: center;
  display: grid;
  justify-items: center;
}
#contact-section .contact-btn{
  margin: 20px 0 60px 0 !important;
}
.contact-subheading{
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.65);
  margin:0;
  margin-bottom: 20px;
}
.other-contact{
  display: grid;
  justify-items: center;
  margin-top: 100px;
}
.contact-container{
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Inter';
}
.contact-element{
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 50px;
  height: 240px;
  padding: 30px;
  background: #E0E5EB;
  box-shadow:  24px 24px 48px #bec3c8, 
             -24px -24px 48px #ffffff!important;
  overflow: hidden;
}
.contact-email{
  font-family: 'Inter', sans-serif;
  font-size: 2.19rem;
  color: #000000;
}
.contact-email > a{
  font-family: 'Inter', sans-serif;
  font-size: 2.19rem;
  color: #000000;
  text-decoration: none;
}
.contact-email > a:hover{
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.contact-linkedin > a{
  font-family: 'Inter', sans-serif;
  font-size: 2.19rem;
  color: #000000;
  text-decoration: none;
  margin: 0;
}
.contact-linkedin>a:hover{
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.contact-btn{
  margin: 30px 0px 20vh 0px !important;
}
.contact-zurich{
  font-family: 'Source-sans-pro', sans-serif;
  font-weight: 900;
  font-size: 3.75rem;
  color: #000000;
  margin: 90px 0px 0px 0px;
}
.contact-address{
  font-family: 'sofia-pro', sans-serif;
  font-size: 1.44rem;
  color: #000000;
  margin: 20px 0px 0px 0px;
  line-height: 27px;
}

/* animations */
@keyframes colorSlide{
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #bdbdbd;
  }
  29.99% {
    background-color: #131313;
    background-position: 0% 0%;
  }
  30% {
    background-color: #bdbdbd;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #bdbdbd;
  }
  59% {
    background-color: #131313;
    background-position: 0% 0%;
  }
  60% {
    background-color: #bdbdbd;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #bdbdbd;
  }
  90%, 100% {
    background-color: #131313;
  }
}


@keyframes trackBallSlide{
  0%{
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  6%{
    opacity: 1;
    transform: scale(0.9) translateY(0px);
  }
  14%{
    opacity: 0;
    transform: scale(0.4) translateY(30px);
  }
  15%, 19%{
    opacity: 0;
    transform: scale(0.4) translateY(-15px);
  }
  28%, 29.99%{
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  30%{
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  36%{
    opacity: 1;
    transform: scale(0.9) translateY(0px);
  }
  44%{
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }
  45%, 49%{
    opacity: 0;
    transform: scale(0.4) translateY(-15px);
  }
  58%, 59.99%{
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
  60%{
    opacity: 1;
    transform: scale(0.9) translateY(-15px);
  }
  66%{
    opacity: 1;
    transform: scale(0.9) translateY(0px);
  }
  74%{
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }
  75%, 79%{
    opacity: 0;
    transform: scale(0.4) translateY(-15px);
  }
  88%, 100%{
    opacity: 1;
    transform: scale(1) translateY(-15px);
  }
}
@keyframes nudgeMouse{
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(8px);
  }
  30%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(8px);
  }
  60%{
    transform: translateY(0);
  }
  80%{
    transform: translateY(8px);
  }
  90%{
    transform: translateY(0);
  }
}

/* RESPONSIVE DESIGN */
/*Smartphones*/
@media only screen and (max-width: 600px) {
}
/*Large Smartphones and Tablets*/
@media only screen and (min-width: 600px) {
}
/*Landscape Tablets*/
@media only screen and (min-width: 768px) {
}
/*Laptops*/
@media only screen and (min-width: 992px) {
}
/*Larger Desktops*/
@media only screen and (min-width: 1200px) {
}
/*Very large Desktops*/
@media only screen and (min-width: 1600px) {
}
