@font-face {
  src: url(fonts/MonumentExtended-Regular.otf);
  font-family: monument;
}
@font-face {font-family: "Circular";
   src: url("/assets//961a181da27e7cbc072ec2fb5bbfe2a9.eot"); /* IE9*/
   src: url("/assets/fonts/961a181da27e7cbc072ec2fb5bbfe2a9.eot") format("embedded-opentype"), /* IE6-IE8 */
   url("/assets/fonts/961a181da27e7cbc072ec2fb5bbfe2a9.woff2") format("woff2"), /* chrome、firefox */
   url("/assets/fonts/961a181da27e7cbc072ec2fb5bbfe2a9.woff") format("woff"), /* chrome、firefox */
   url("/assets/fonts/961a181da27e7cbc072ec2fb5bbfe2a9.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
   url("/assets/fonts/961a181da27e7cbc072ec2fb5bbfe2a9.svg") format("svg"); /* iOS 4.1- */
 }
body {
  width: 100%;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  background-color: rgb(250, 250, 250);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-scrolled {
  background-color: rgb(209, 209, 209);
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.hero-title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  position: relative;
}
.hero-title {
  width: 100%;
  text-align: left;
  overflow: hidden;
}
.hero-title>span{
  display: inline-block;
  overflow: hidden;
  padding-left: 7px;
  margin-right: 25px;
}
.hero-title>span>span{
   display: inline-block;
   font-size: 80px;
   color: rgb(66, 66, 66);
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
   will-change: transform;
   font-family: proxima-nova;
}
.hero-button {
  opacity: 0;
  margin-top: 300px;
}
.hero-button button {
  font-size: 20px;
  text-decoration: none;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 20px 3px 20px 3px;
  background-color: #818181;
  padding: 15px;
  color: #EEEEEE;
  font-family: Circular;
}
.hero-button button:hover {
  text-decoration: none;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 30px;
  background-color: rgb(233, 233, 233);
  padding: 15px;
  color: black;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
/* Loading Screen */
.welcome {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 2px;
  color: rgb(129, 129, 129);
  z-index: 10;
  overflow: hidden;
}
.intro {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(129, 129, 129);
  z-index: 9;
  overflow: hidden;
  font-size: 150px;
  opacity: 1;
}
.intro_container{
  position: absolute;
  display: inline-block;
  overflow: hidden;
}
.intro_container>span{
  display: inline-block;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.welcome_heading {
  font-size: 40px;
  font-family: monument;

}
.welcome_logo {
  width: 250px;
  border-radius: 70px;
  background: linear-gradient(-45deg, #e6e6e6, #ffffff);
  transition: box-shadow 0.6s ease-in-out;
  opacity: 0;
}
.welcome>span{
  display: inline-block;
  overflow: hidden;
}
.welcome>span>span{
   display: inline-block;
   font-size: 50px;
   color: rgb(97, 97, 97);
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
   will-change: transform;
   font-family: monument;
}

/* RESPONSIVE DESIGN */
/*Smartphones*/
@media only screen and (max-width: 600px) {

}
/*Large Smartphones and Tablets*/
@media only screen and (min-width: 600px) {

}
/*Landscape Tablets*/
@media only screen and (min-width: 768px) {

}
/*Laptops*/
@media only screen and (min-width: 992px) {

}
/*Larger Desktops*/
@media only screen and (min-width: 1200px) {

}
/*Very large Desktops*/
@media only screen and (min-width: 1600px) {

}