* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.vorteile-section{
  background-color: rgb(255, 255, 255);
  z-index: -2;
  padding: 5vh 0 15vh 0;
  text-align: center;
  display: grid;
  justify-items: center;
}
#grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 3em 1em;
  padding: 0 5%;
}
.grid-element {
  border: 2px #305289 solid;
  border-radius: 40px 5px 40px 5px;
  height: 250px;
  text-align: left;
  max-width: 90%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)!important;
  place-self: center;
}
#vorteile-grid{
  margin: 0px 0 100px 0;
  font-family: 'sofia-pro', sans-serif;
}
.grid-img{
  height: 60px;
  width:60px;
}
.grid-title{
  font-size: 35px;
  font-weight: 400;
  text-align: left;
  margin: 20px 0px 0px 20px;
}
.grid-title > img{
  vertical-align: middle;
  margin: 0px 5px 0px 0px;
}
.grid-text{
  padding-right: 10px;
  font-size: 23px;
  font-weight: 300;
  margin: 10px 0px 0px 20px;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* RESPONSIVE DESIGN */
/*Smartphones*/
@media only screen and (max-width: 600px) {

}
/*Large Smartphones and Tablets*/
@media only screen and (min-width: 600px) {

}
/*Landscape Tablets*/
@media only screen and (min-width: 768px) {

}
/*Laptops*/
@media only screen and (min-width: 992px) {

}
/*Larger Desktops*/
@media only screen and (min-width: 1200px) {

}
/*Very large Desktops*/
@media only screen and (min-width: 1600px) {

}